# Build directories
/build/
/my_project/build/
/my_project/build_release/
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/Makefile
**/install_manifest.txt
**/compile_commands.json
**/Testing/

# Compiled objects and libraries
*.o
*.obj
*.lo
*.la
*.a
*.so
!libVDMocapSDK_DataRead.so
*.dylib
*.dll
*.lib
*.exe

# Qt generated sources
moc_*.cpp
*.moc
ui_*.h
qrc_*.cpp

# Qt/CMake user settings
*.pro.user*
*.qbs.user*
*.user
.qmake.stash
.cache/

# IDE/project settings
.DS_Store
.idea/
.vscode/

# Logs and runtime artifacts
*.log
my_project/resources/logs/

**__pycache__**
post_process/handeye/handeye

# External/optional components
librealsense/
index-tts-vllm.local-backup/
todo.md
AGENTS.md
*.wav
!jay_promptvn.wav
sess*/
*.mp4
aruco_print_out/
print_out/
sess*/
data/
vis/
my_project/resources/task_backup
TODO.md
data_new/
outputs/
tracking_results/
post_process/manotorch
post_process/MinimalIK
my_project/tac_glove_py/__pycache__
post_process/realsense_setting
post_process/UV_conversion/assets
__pycache__/
*.pyc

# 1. 忽略 third_party 文件夹下的所有内容
third_party/*
post_process/old_code
post_process/sample.png

# 2. 但是不要忽略 apriltag 目录
!third_party/apriltag/
rsync.sh
zip.sh
test_opencv.sh
my_project/resources/config.json